*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-image: url(54-540978_lord-of-the-rings-rivendell.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	
}
.logo
{
	background-image: url(unnamed.png);
	background-size: cover;
}
/* Farbe/Formatierung der Menü-Leiste */
.menu-bar
{
	background: rgb(30,40,40);
	text-align: center;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #ffffff;
}
/* Formatierung/Größe/Anpassung der Menü-Punkte */
.menu-bar ul li
{
	width: 121px;
	margin: 15px;
	padding: 15px;
	
}

/* Farbe vom Menü-Schrift */
.menu-bar ul li a
{
	text-decoration: none;
	color: #ffffff;
}
  /* Farbe und Formatierung des Menü-Buttons */
.active, .menu-bar ul li:hover		 
{
	background: #b8b894;		
	border-radius: 3px;
	box-shadow: 0px 0px 100px 3px #ff0000;
}
.menu-bar .fa
{
	margin-right: 8px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(30,40,30);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
	
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 120px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #1e1e28;
}
.fa-angle-right
{
	float: right;
}
.sub-menu-2
{
	display: none;
}
.hover-me:hover .sub-menu-2
{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 115px;
	background: rgb(30,40,30);
}

